# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp/
.pnp.js

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

/client/build/
/dist/
/build/

logs/
*.log

.idea/
.vscode/
*.swp
*.swo
.DS_Store

/coverage/

/tmp/
*.tmp
*.bak

*.sqlite